<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/dashboard.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/global.css'>

</head>
<body>

    <ul id="lateralmenu">
        <li id="Title"><h4>{{config["title"]}}</h4></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/config">Configuration</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/screens">Screens</a></li>
    </ul>

    <h1>Dashboard</h1>
    <h4>{{config["title"]}}</h4>
    <br>
    <iframe id="rcdn" src="/rcdn" frameborder="0"></iframe>
    <br>
    <iframe id="cmd" src="/cmd" frameborder="0"></iframe>

    <a href="/reload"><button>Reload</button></a>


</body>
</html>