<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    Dashboard
    <ul>
        <li>Menu latéral</li>
        <li>Reload</li>
        <li>Utilisation des ressources</li>
        <li>Commandes rapides</li>
        <li>Console</li>
    </ul>
    Menu latéral

    <iframe src="/rcdn" frameborder="0"></iframe>

    <a href="/reload"><button>Reload</button></a>

</body>
</html>