* {margin: 0; padding: 0;overflow-x: hidden;}

body {
    background-color: #d4d4d4;
    padding-left: 17.5vw;
}

ul, ol {
    list-style: none;
}

#lateralmenu {
    position: fixed;
    width: 15vw;
    height: 100vh;
    top: 0;
    left: 0;
    float: left;
    background-color: rgb(39, 39, 39);
    margin-right: 3vw;
}

#lateralmenu li * {
    color: whitesmoke;
    text-decoration: none;
}

#lateralmenu li {
    text-decoration: none;
    text-align: center;
    
    width: 13vw;
    margin-left: 1vw;
    margin-top: 1vh;
    border: solid 1px whitesmoke;
}