* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    margin-left: 1vw;
}
#ram, #cpu, #disk {
    display: none;
}

.mod {
    float: left;
    width: 30vw;
    height: 85vh;
    border-radius: 5px;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#divcpu{
    margin-left: 4vw;
    margin-right: 4vw;
}

.mod .percent {
    float: left;
    padding-bottom: 1vw;
    padding-left: 2vw;
}
.mod .used {
    float: right;
    margin-right: 2vw;
}

.pbb {
    background-color: rgb(168, 168, 168);
    border-radius: 5px;
    height: 5vh;
    width: 26vw;
    margin-left: 2vw;
}

.pb {
    background-color: rgb(0, 153, 255);
    border-radius: 5px;
    height: 5vh;
}