<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{config["title"]}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <style>
        * {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            background-color: black;
            color: white;
            margin: 0;
            padding: 0;
        }
        
        form {
            position: fixed;
            bottom: 0;
            width: 100vw;
        }
    </style>

    <p>
        {{console}}
    </p>

    <footer><small>${{pwd}}</small></footer>

    <form action="/cmd" method="post">
        <input type="text" name="cmd" placeholder="Command">
        <input type="submit" value="Execute">
    </form>
    


    <script type="text/javascript">
        let output = document.querySelector("p");
        let contnent = output.innerHTML.split("\n");
        let toret = "";
        for (let index = 0; index < contnent.length; index++) {
            toret += "<p>"+ contnent[index] +"</p>";
        }
        output.innerHTML = toret;
        setTimeout(function () {
                window.scrollTo(0, 10000);
            }, 5);
    </script>
</body>
</html>