<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/dashboard.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/global.css'>
    <script src="/static/js/comuns.js"></script>
</head>
<body>
    <script>menu('{{config["title"]}}');</script>
    <h1>Dashboard</h1>
    <h4>{{config["title"]}}</h4>
    <br>
    <iframe id="rcdn" src="/rcdn" frameborder="0"></iframe>
    <iframe id="graph" src="/graph" frameborder="0"></iframe>
    <h3>Commandes rapides</h3>
    <br>
    <a href="/reload"><button><i class="fa fa-refresh"></i> Restart the server</button></a>
    <a href="/update"><button><i class="fa fa-angle-double-up"></i> Update O-Pynet</button></a>
    <br>
    <br>
    <br>
    <footer>Tout droits réservés Thomas Lemartinel | © Copyright 2022</footer>
</body>
</html>