<!DOCTYPE HTML>
<html>

<head>
    <script type="text/javascript">
        window.onload = function () {

            
            // { x: new Date(2012, 01, 1, 1, 1), y: 26 },

            let cpu = ('{{cpu}}');
            let ram = ('{{ram}}');
            let disk = ('{{disk}}');

            let arraycpu = [];
            let arrayram = [];
            let arraydisk = [];

            let h = 0;
            let m = 0;
            let day = new Date().getDay();
            let month = new Date().getMonth();
            let year = new Date().getFullYear();
            let tmp = {};


            for (let i = 0; i < cpu.split(",").length; i++) {
                if (cpu.split(",")[i].split(":").length != 1) {
                    tmp = {};
                    h = parseInt(cpu.split(",")[i].split(":")[0].split(".")[0]);
                    m = parseInt(cpu.split(",")[i].split(":")[0].split(".")[1]);
                    tmp["x"] = new Date(year, month, day, h, m);
                    tmp["y"] = parseFloat(cpu.split(",")[i].split(":")[1]);
                    arraycpu.push(tmp);
                }
            }

            for (let i = 0; i < ram.split(",").length; i++) {
                if (ram.split(",")[i].split(":").length != 1) {
                    tmp = {};
                    h = parseInt(ram.split(",")[i].split(":")[0].split(".")[0]);
                    m = parseInt(ram.split(",")[i].split(":")[0].split(".")[1]);
                    tmp["x"] = new Date(year, month, day, h, m);
                    tmp["y"] = parseFloat(ram.split(",")[i].split(":")[1]);
                    arrayram.push(tmp);
                }
            }

            for (let i = 0; i < disk.split(",").length; i++) {
                if (disk.split(",")[i].split(":").length != 1) {
                    tmp = {};
                    h = parseInt(disk.split(",")[i].split(":")[0].split(".")[0]);
                    m = parseInt(disk.split(",")[i].split(":")[0].split(".")[1]);
                    tmp["x"] = new Date(year, month, day, h, m);
                    tmp["y"] = parseFloat(disk.split(",")[i].split(":")[1]);
                    arraydisk.push(tmp);
                }
            }
            console.log(cpu);
            console.log(arraycpu);

            
            let min = new Date(2500, month, day, 0, 0);
            let max = new Date(2000, month, day, 23, 59);
            for (let i = 0; i < arraycpu.length; i++) {
                if (arraycpu[i]["x"] < min) {
                    min = arraycpu[i]["x"];
                }
                if (arraycpu[i]["x"] > max) {
                    max = arraycpu[i]["x"];
                }
            }



            var chart = new CanvasJS.Chart("chartContainer",
                {
                    title: {
                        text: "Utilisation des ressources de la machine"
                    },
                    toolTip: {
                        shared: true,
                        // content: "{name}: {y}%"
                    },

                    axisX: {
                        title: "Temps",
                        labelAngle: -20,
                        valueFormatString: "hh:mm",
                        minimum: min,
                        maximum: max
                    },
                    axisY: {
                        title: "Usage en %",
                    },
                    data: [
                        {              
                            name: "CPU",   
                            markerSize: 0,           
                            type: "splineArea",
                            xValueFormatString: "hh:mm",
                            dataPoints: arraycpu,
                            color: "rgba(0, 128, 255)",
                        },
                        {              
                            name: "RAM",      
                            markerSize: 0,        
                            type: "splineArea",
                            xValueFormatString: "hh:mm",
                            dataPoints: arrayram,
                            color: "rgba(40,175,101,0.6)",
                        },
                        {              
                            name: "Disque",    
                            markerSize: 0,          
                            type: "splineArea",
                            xValueFormatString: "hh:mm",
                            dataPoints: arraydisk,
                            color: "rgba(255, 0, 0, 0.4)",
                        },
                    ]
                });

            chart.render();
        }
    </script>
    <style>*{
        color:rgba(4, 255, 0, 0.262)
    }</style>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<body>
    <style>
        html {
            overflow: hidden;
        }
    </style>
    <div id="chartContainer" style="height: 94vh; width: 100%; background-color: whitesmoke;"></div>



    <script type="text/javascript">
        setTimeout(function () {
            location.reload();
        }, 20000);
    </script>

</body>

</html>