<!DOCTYPE HTML>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{config["title"]}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="../static/js/graph.js"></script>

    <script>window.onload = function () {
        let cpu = ('{{cpu}}');
        let fcpu = [];
        let tmp = {};
        for (let i = 0; i < cpu.split(",").length; i++) {
            if (cpu.split(",")[i].split(":").length != 1){
                console.log(cpu.split(",")[i].split(":"));
                tmp = {};
                tmp["x"] = parseInt(cpu.split(",")[i].split(":")[0]);
                tmp["y"] = parseInt(cpu.split(",")[i].split(":")[1]);
                fcpu.push(tmp);
            }
        }

        let ram = ('{{ram}}');
        let fram = [];
        tmp = {};
        for (let i = 0; i < ram.split(",").length; i++) {
            if (ram.split(",")[i].split(":").length != 1){
                console.log(ram.split(",")[i].split(":"));
                tmp = {};
                tmp["x"] = parseInt(ram.split(",")[i].split(":")[0]);
                tmp["y"] = parseInt(ram.split(",")[i].split(":")[1]);
                fram.push(tmp);
            }
        }

        let disk = ('{{disk}}');
        let fdisk = [];
        tmp = {};
        for (let i = 0; i < disk.split(",").length; i++) {
            if (disk.split(",")[i].split(":").length != 1){
                console.log(disk.split(",")[i].split(":"));
                tmp = {};
                tmp["x"] = parseInt(disk.split(",")[i].split(":")[0]);
                tmp["y"] = parseInt(disk.split(",")[i].split(":")[1]);
                fdisk.push(tmp);
            }
        }

        // let cpu = "{{cpu}}";
            var chart = new CanvasJS.Chart("chartContainer", {
                 axisX: {
                    interval: 1,
                    
                    title: "Hours",
                },
                
                animationEnabled: true,
                axisY: [{
                    title: "Usage in %",
                    lineColor: "black",
                    tickColor: "black",
                    labelFontColor: "black",
                    titleFontColor: "black",
                    includeZero: true,
                    suffix: "%"
                }],
                toolTip: {
                    shared: true,
                    animationEnabled: true,
                    borderColor: "black",
                },
                
                legend: {
                    
                    horizontalAlign: "right",
                    verticalAlign: "center",
                    cursor: "pointer",
                    itemclick: toggleDataSeries
                },
                data: [{
                    type: "line",
                    name: "CPU",
                    color: "yellow",
                    showInLegend: true,
                    axisYIndex: 1,
                    dataPoints: fcpu
                },
                {
                    type: "line",
                    name: "RAM",
                    color: "red",
                    axisYIndex: 1,
                    showInLegend: true,
                    dataPoints: fram
                },
                {
                    type: "line",
                    name: "Disk",
                    color: "aqua",
                    axisYIndex: 1,
                    showInLegend: true,
                    dataPoints: fdisk
                }]
            });
            chart.render();

            function toggleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                e.chart.render();
            }

        }

    
</script>


</head>

<body>
    <style>html{
        overflow: hidden;
    }</style>
    <div id="chartContainer" style="height: 94vh; width: 100%; background-color: whitesmoke;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



<script type="text/javascript">
    setTimeout(function () {
        location.reload();
    }, 600000);
</script>

</body>

</html>