<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Insta</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/dashboard.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/global.css'>
    <script src="/static/js/comuns.js"></script>
</head>

<body>
    <script>menu('{{config["title"]}}');</script>
    <h1>Gestion Instagram</h1>
    <h4>{{config["title"]}}</h4>
    <a href="/post"><button>Poster</button></a>
    
    
    <h3>A vérifier</h3>
    <a href="/saveimg"><button>Valider</button></a>
    <a href="/delimg"><button>Supprimer</button></a>
    <img class="tocheck" src="../static/insta/uncheck/{{img}}" alt="">
    <style>img.tocheck{
        height: 50vh;
    }</style>
    <br>
    <br>
    <br>
    <br>
    <footer>Tout droits réservés Thomas Lemartinel</footer>
</body>

</html>