<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/dashboard.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/global.css'>
    <script src="/static/js/comuns.js"></script>
</head>
<body>
    <h1>Error !</h1>
    <h4>{{config["title"]}}</h4>
    <br>
    <p>You don't have the permission to watch this.</p>
    <p>Go back to the dashboard.</p>
    <br>
    <a href="/dashboard"><button><i class="fa fa-arrow-left"></i> Dashboard</button></a>
</body>
</html>