<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{config["title"]}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/rcdn.css'>
</head>
<body>
    <p id="ram">{{ram}}  </p>
    <p id="cpu">{{cpu}}  </p>
    <p id="disk">{{disk}}</p>

    <!-- Acutalisation automatique en fonction de ce qu'il y a dans les configs -->
    <script type="text/javascript">
        setTimeout(function () {
            location.reload();
        }, "{{config['ramcputime']}}"*1000);
    </script>

    <!-- Mise en page -->
    <script type="text/javascript">
        // RAM
        let element = document.getElementById("ram").innerText;
        let used = element.split(",")[0];
        let total = element.split(",")[1];
        let percent = used/total*100;
        let toret = `
            <div class="mod">
                <h3>RAM</h3>
                <h3 class="percent">`+ percent.toFixed(0) +`%</h3>
                <h4 class="used">`+ used + "/" + total +`Go</h4>
                <div class="pbb">
                    <div class="pb" id="pbram">
                    </div>
                </div>
            </div>
            <style>
                #pbram{
                    width: `+ percent.toFixed(0) +`%;
                }
            </style>

            `;
        document.write(toret);

        element = document.getElementById("cpu").innerText;
        used = element.split(",")[0];
        total = element.split(",")[1];
        percent = used/total*100;
        toret = `
            <div class="mod" id="divcpu">
                <h3>CPU</h3>
                <h3 class="percent">`+ percent.toFixed(0) +`%</h3>
                <h4 class="used">`+ used + "/" + total +`   </h4>
                <div class="pbb">
                    <div class="pb" id="pbcpu">
                    </div>
                </div>
            </div>
            <style>
                #pbcpu{
                    width: `+ percent.toFixed(0) +`%;
                }
            </style>

            `;
        document.write(toret);

        element = document.getElementById("disk").innerText;
        used = element.split(",")[0];
        total = element.split(",")[1];
        used = total-used;
        percent = used/total*100;
        toret = `
            <div class="mod">
                <h3>Disk</h3>
                <h3 class="percent">`+ percent.toFixed(0) +`%</h3>
                <h4 class="used">`+ used + "/" + total +`Go</h4>
                <div class="pbb">
                    <div class="pb" id="pbdisk">
                    </div>
                </div>
            </div>
            <style>
                #pbdisk{
                    width: `+ percent.toFixed(0) +`%;
                }
            </style>

            `;
        document.write(toret);



    </script>

</body>
</html>